extends layout

block content
  -if (message !== null)
  p= message
  div(id='bigbox')
    h1 // sign up
    form#signup(action='/signup' method='post')
      input(type='text' name='username' placeholder='username')
      input(type='text' name='email' placeholder='email')
      input(type='password' name='password' placeholder='password')
      input(type='submit' value=';')
      // placeholder isn't completely cross-browser compatible. jquery can do it; not sure about angular/bootstrap?
    a(href='/login') login();