/* ============================================================================
 * CORE STYLESHEET
 * Main font: Fira Mono / monospace
 * Colors:
 * body / background: #073642;
 * input boxes: #073642;
 * normal text: #8CA1A1;
 * important text 1: #2689B2; (blue)
 * important text 2: #C64727; (orange)
 * important text 3: #887706; (light orange)
 * If changing colors, please run a search and replace so no color gets left behind.
\* ============================================================================= */

body {
	background: #002B36;
	color: #8CA1A1;
	font: .8em 'Fira Mono', Consolas, monospace;
}

a {
	color: #00B7FF;
}

/* ====== CHAT ====== */
form {
	font: .8em 'Fira Mono', Consolas, monospace;
	position: fixed;
	bottom: 0;
	width: 100%;
}

form input {
	background: #073642;
	color: #8CA1A1;
	border: 0;
	padding: 10px;
	width: 100%;
}

/* form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; } */

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#messages li { padding: 5px 10px; }

/* #messages li:nth-child(odd) { background: #eee; } */

#chatbox {
	position: absolute;
	margin: 0;
	padding: 0;
	height: 50%;
	width: 20%;
	right: 0;
	bottom: 0;
}