/* ============================================================================
 * CORE STYLESHEET
 * Main font: Fira Mono / monospace
 * Colors:
 * body / background: #073642;
 * input boxes: #073642;
 * normal text: #8CA1A1;
 * important text 1: #2689B2; (blue)
 * important text 2: #C64727; (orange)
 * important text 3: #887706; (light orange)
 * when in doubt: public/images/solarized-ref.png
 * If changing colors, please run a search and replace so no color gets left behind.
 * TODO:
 * scroll to bottom when new messages appear
 * probably a whole graphical change later (not a huge priority right now)
\* ============================================================================= */

body {
	background: #002B36;
	color: #8CA1A1;
	font: .8em 'Fira Mono', Consolas, monospace;
}

a {
	color: #00B7FF;
}

/* ====== LOGIN/SIGNUP ====== */
#bigbox {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#bigbox h1 {
	font-size: 1.6em;
	padding: 5px;
}

#bigbox a {
	color: #8CA1A1;
	float: right;
	padding: 5px;
}

#bigbox form {
	display: block;
	width: 300px;
	background-color: #073642;
}

#login {
	height: 172px;
}

#signup {
	height: 246px;
}

#bigbox input[type=text], #bigbox input[type=password] {
	background-color: #eee8d5;
	color: #586e75;
	font: 1.3em 'Fira Mono', Consolas, monospace;
	border: none;
	width: 232px;
	padding: 0 10px;
	height: 50px;
	margin-left: 24px;
	margin-top: 24px;
}

#bigbox input[type=password] {
	width: 182px;
}

#bigbox input[type=submit] {
	position: absolute;
	display: inline-block;
	background-color: #586e75;
	color: #eee8d5;
	font: 2.0em 'Fira Mono', Consolas, monospace;
	border: 0 none;
	cursor: pointer;
	height: 50px;
	width: 50px;
	margin-top: 24px;
}

/* ====== CHAT ====== */
form.chat {
	position: fixed;
	bottom: 0;
	width: 100%;
}

form.chat input {
	font: .8em 'Fira Mono', Consolas, monospace;
	background: #073642;
	color: #8CA1A1;
	border: 0;
	padding: 10px;
	width: 100%;
}

/* form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; } */

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#messages li { padding: 5px 10px; }

/* #messages li:nth-child(odd) { background: #eee; } */

#chatbox {
	position: absolute;
	margin: 0;
	padding: 0;
	height: 50%;
	width: 20%;
	right: 0;
	bottom: 0;
}
