/* currently: solarized dark theme */

body {
	background: #002B36;
	color: #8CA1A1;
	font: .8em 'Fira Mono', Consolas, monospace;
}

a {
	color: #00B7FF;
}

/* ====== CHAT ====== */
form {
	position: fixed;
	bottom: 0;
	width: 100%;
}

form input {
	background: #073642;
	color: #8CA1A1;
	border: 0;
	padding: 10px;
	width: 100%;
}

/* form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; } */

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#messages li { padding: 5px 10px; }

/* #messages li:nth-child(odd) { background: #eee; } */